:root{
	--container-gap: 20%;
	--color-dark: rgb(30,40,53);
	--color-dark-invert: rgb(221, 122, 125);
	--color-red: rgb(196,22,28);
	--icon-size: 18px;
	--icon-padding: 7px;
	--icon-text-margin: 12px;
}
@media (max-width: 500px) {
	:root{
		--container-gap: 0mm;
	}
}
@media (min-width: 500px) and (max-width: 1000px) {
	:root{
		--container-gap: 10%;
	}
}
body{
	font-family: 'vazirmatn', sans-serif;
}
.container{
	padding: 0 var(--container-gap);
}
.header{
	padding: 25px 40px;
	background-color: var(--color-dark);
	color: #ffffff;
	border-radius: 9mm;
	margin-bottom: 12mm;
	font-size: 12pt;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row-reverse;
	justify-content: space-between;
}
@media (max-width: 700px) {
	.header {
		justify-content: space-around;
	}
}
.header a {
	color: #ffffff;
}

.header .profile {
	align-content: center;
}

.profile div{
	text-align: center;
}
.profile img.avatar{
	width: 45mm;
	max-height: 45mm;
	border-radius: 50%;
}
.profile .name{
	font-size: 14pt;
	font-weight: bold;
}
.profile .expertise{
	text-align: center;
	color: var(--color-dark-invert);
}

.row {
	display: flex;
	margin: var(--icon-text-margin) 0;
}

.icon-text {
	margin: auto 0;
}

.icon-box {
	display: inline-block;
	border-radius: 50%;
	width: var(--icon-size);
	height: var(--icon-size);
	padding: var(--icon-padding);
	margin-inline-end: 10px;
}

.icon-box, .icon-box svg {
	width: var(--icon-size);
	height: var(--icon-size);
}

.header .information .row .icon-box {
	background-color: white;
}

.header .information .row .icon-box svg {
	fill: var(--color-red);
}
.body{
	padding: 0 30px
}
.body section {
	margin-top: 50px;
}
.body section .row {
	margin-bottom: 25px;
}

.body section .icon-box {
	background-color: var(--color-red);
	margin-inline-end: 7px;
}

.body section .icon-box svg {
	width: var(--icon-size);
	height: var(--icon-size);
	fill: white;
}

.body section .icon-text, .subtitle {
	font-weight: bold;
	border-bottom: var(--color-red) 4px solid;
	padding: 5px;
}

.body section .icon-text {
	display: inline-block;
	font-size: larger;
	border-bottom-width: 6px;
	line-height: 24px;
}

.body section > p, .item .subtitle, .item .project {
	margin-inline-start: calc(var(--icon-size) + var(--icon-padding) + var(--icon-text-margin));
	text-align: justify;
}
.item {
	margin-top: 33px;
}
.title::before {
	content: "◆";
	display: inline-block;
	font-size: 1.1em;
	margin-bottom: -0.1em;
	margin-inline-start: -2em;
	margin-inline-end: 0.5em;
}
section.experience .item {
	margin-bottom: 70px;
}
.body .item .row {
	margin-bottom: 15px;
}
.company-logo{
	margin-inline-end: 7px;
	margin-top: auto;
}
.company-logo img{
	max-height: 60px;
	width: 60px;
}
.company-info{
	font-size: large;
	padding: 3px;
}
.job-title{
	font-weight: bold;
}
.item .subtitle{
	width: fit-content;
	font-size: large;
	border-bottom-width: 4px;
}

.project .title {
	font-weight: bold;
	margin-top: 30px;
}

section.skills ul{
	direction: ltr;
}

section.skills li{
	line-height: 2em;
	font-size: large;
}
